.custom-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform:scale(1.02);
  cursor: pointer;
}

.custom-card {
  transition:.3s;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  display: block;
  background-color: white;
  border: 1px solid #E9ECEF;
  color: #0D6EFD;
}

.pagination li a {
  display: block;
  padding: 10px 20px;
}

.pagination .active {
  background-color: #0D6EFD;
  color: white;
}
